footer.isu-submitted-by_card {display: none !important;}
div.program-link, div.program-contactname {margin-top:10px;}
div.program-link a, div.program-contactemail a {text-decoration:none;}
div.program-link a:hover, div.program-contactemail a:hover {text-decoration:underline;}
div.program-contactname, div.program-contactemail, div.program-contactphone {margin-left:15px;}
div.program-contactname div.font-weight-bold {margin-left:-15px; margin-top: 20px; font-weight:normal !important;}
div.program-link {margin:35px 0 15px 0; }
div.program-link a {color: #cc0000; border: 1px solid #cc0000; font-weight: 700; border-radius: 3px; cursor: pointer; transition: background 0.2s ease; padding: 7px; white-space: break-spaces; }
div.program-link a:hover {background:#cc0000; color:#ffffff;}

div.program-meta  {font-size: 0.7em; padding-bottom:4px;} 
div.program-meta.program-area {border-top:solid 1px #DEE2E6; margin-top:40px; padding-top:10px;}
div.program-meta div.program-meta {font-size:1em; }
div.program-meta div.font-weight-bold {font-size:0.95em; color:#555; padding-bottom:1px; width:100px; }

