footer.isu-submitted-by_card {display: none !important;}
div.program-meta {border:solid 1px #f5f5f5; display:block; float: left; margin:20px 10px 0 0; padding:5px 5px 0 2px; font-size:0.8em; }
div.program-meta div.program-meta{border:none; margin-top:none;margin:0; padding:0; font-size:1em; }
div.program-meta .font-weight-bold {font-size: 0.8em;}
div.program-link, div.program-contactname {margin-top:10px;}
div.program-link a, div.program-contactemail a {text-decoration:none;}
div.program-link a:hover, div.program-contactemail a:hover {text-decoration:underline;}
div.program-contactname, div.program-contactemail, div.program-contactphone {margin-left:15px;}
div.program-contactname div.font-weight-bold {margin-left:-15px; margin-top: 20px; font-weight:normal !important;}
